body {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
  
body,
div {
    box-sizing: border-box;
}
  
  #root {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    outline: none;
    overflow: hidden;
}

.main-window {
    height: 100vh;
}

.toolbar {
    height: 130px;
    background-color: #f0f0f0;
    padding: 10px;
  }

.home-tab,
.transformers-tab {
    display: flex;
  }

.build-section, 
.undo-section, 
.edit-section, 
.file-section, 
.font-section, 
.paragraph-section, 
.style-section,
.gpt-section,
.configuration-section,
.view-section {
    display: flex;
    flex-direction: row;
    padding: 8px;
    background: white;
    border-radius: 6px;
    align-items: center;
    margin-right: 4px;
}

.body, .outline, .ant-tree, .results-view, .ant-tabs, .results-view-tab,
.results-view > .ant-tabs-content-holder, .results-view > .ant-tabs-content-holder > .ant-tabs-content,
.results-view > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
    height: 100%;
}

.outline {
    overflow: auto;
}

.outline.dark {
    background-color: #001b35;
    color: white;
}

.outline.light {
    background-color: white;
    color: black;
}


.ant-tree {
    background: transparent; /* need this to allow the outline component to determine the background color*/
}


.ant-dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.selected-light {
    background-color: #537a8b;
    color: black
}

.selected-dark {
    background-color: #001b35;
    color:white
}


.model-combo-box,
.active-entry-point-dropdown {
    min-width: 200px;
}