.results-view {
  position: absolute;
  bottom: 0;
}

.ant-tabs {
  margin-top: 20px;
}

.ant-tabs-tabpane {
  padding: 20px;
}

.results-view-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}